<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>

</head>
<body>
<h1>Home page <%='hello world'.toUpperCase()%></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus urna a dictum dapibus. Vivamus turpis metus, dictum quis tempor sed, iaculis eget sem. Donec sollicitudin nunc sodales dolor imperdiet bibendum. Phasellus at eros vitae erat finibus rutrum. Nullam placerat porttitor magna, non condimentum lorem commodo ac. Nullam consequat condimentum diam, et varius urna tempus a. Proin tincidunt nec metus non euismod. Nulla risus arcu, finibus at tortor quis, luctus feugiat libero. Donec aliquet cursus odio, in suscipit nulla consequat euismod. Aenean non ex rutrum, luctus leo sit amet, malesuada augue. Etiam velit nibh, fermentum ut semper in, vulputate non lorem. Pellentesque sagittis urna a nulla venenatis, nec vestibulum justo pretium. Pellentesque et condimentum ex. Sed interdum aliquet dui vel gravida.

</p>

</body>
</html>