<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My site</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="/css/style.css">-->
    <script src="/js/jQuery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>